body {
    background-color: #FFAEC9;
}

.jumbotron {
    color:#FFAEC9;
    font-style:italic;
}

.container {
    width:20em; margin:0 auto;
}

.logo {
    width: 15em;
    height: 10em;
}

.button-group {
    display:flex;
    justify-content:space-between;
}