#good {
    color: rgb(8, 250, 8);
    text-align: center;
    font-size: 16pt;
}

#bad {
    color: red;
    text-align: center;
    font-size: 16pt;
}

img.img-circle {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    display: block;
}

.col-sm-5 {
    margin-bottom: 5%;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .thumbnail {
    height: 100%;
  }
  
  /* extra positioning */
  .thumbnail {
    display: flex;
    flex-direction: column;
  }
  
  .thumbnail .caption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }


input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('search_icon.png');
    background-position: 1px; 
    background-size: 40px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}